body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21, 48, 21);
    text-align: center;
    color: rgb(170, 29, 88);
    font-weight: 900;
}

img {
    max-width: 80%;
    max-height: 50%;
}

a:link, a:visited {
    color: rgb(49, 71, 70);
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
}
  
a:hover, a:active {
    background-color:rgb(170, 29, 88);
    color:rgb(21, 48, 21);
}