body {
    font-family: cursive;
    background-color:red;
    text-align: center;
    color:yellow;
}
a:link, a:visited {
    color: yellow;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
}
  
a:hover, a:active {
    background-color:yellow;
    color:red;
}